#img1 {
    
   opacity: 7.5;
   width: 200px;
   height: 200px;
   transition-property: width;
   transition-duration: 2s;
   
   transition-delay: 0.5s;
 }
 
 #img1:hover {
   width: 1300px;

}
#one
{
    border: royalblue;
}
body {
    background-color: lightgray;
}
#name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 175%;
}
#one{
    text-align: center; padding: 2px;
    border: 3px slateblue dashed;
}
.blink{
    animation: blink 0.7s infinite;
    color: green;
}
@keyframes blink{
    0%{ color: #000;}
    49%{ color: #000;}
    60%{ color: transparent;}
    99%{ color: transparent;}
    100% { color: #000;}
}
.list {
   
    width:max-content;
    height: max-content;
    background: yellowgreen;
    transition: 2s;

  }